<div class="panel panel-default">
   <div class="panel-body">
     <div class="media">
       <div class="media-left">
         <img class="image" class="media-object" ng-src="{{oneBucaneer.image}}">
       </div>
       <div class="media-body">
         <ul>
           <h2>{{oneBucaneer.name}}</h2></a>
           <br>
           <p><strong>Poison:</strong> {{oneBucaneer.poison}}</p>
           <br>
           <p><strong>Notable Accessory:</strong> {{oneBucaneer.accessory}}</p>
             <a href="/#/edit_bucaneer/{{bucaneer.id}}">EDIT</a>
            <a href="#">DELETE</a>
         </ul>
       </div>
     </div>
   </div>
 </div>
